@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links, .right-links {
  display: flex;
  gap: 30px;
}

.header, .footer, .content {
  padding: 10px;
}

.content {
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 0;
}

button {
  padding: 10px;
}